[submodule "third-party/libsodium/libsodium"]
	path = third-party/libsodium/libsodium
	url = https://github.com/jedisct1/libsodium.git
[submodule "third-party/libwebp"]
	path = third-party/libwebp
	url = https://chromium.googlesource.com/webm/libwebp
[submodule "third-party/opus"]
	path = third-party/opus
	url = https://github.com/xiph/opus
[submodule "third-party/IXWebSocket"]
	path = third-party/IXWebSocket
	url = https://github.com/machinezone/IXWebSocket
